/* косяки браузеров */
* {margin: 0; padding: 0; border: 0; outline: 0; background: transparent;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,main,nav,section {display:block;}
img, a img {vertical-align: top; border: 0; text-decoration: none;}
b, i, u, a, p, span {vertical-align: baseline;}
/* конец сброса всех косяков */
 
body {background: white; font-family: Verdana, Geneva, sans-serif;}

a, p, h1, h2, h3, input, select, option, .text-baner, .baner-btn, .section-head, .best-head, .best-text, .best-btn, table, .help, .footer-nav {
    font-family: a_AvanteLt; 
    letter-spacing: 1px;
}

main{
    background: white url(img/background.jpg) center no-repeat;
    background-size: 150%;
    background-attachment: fixed;
    padding: 10vh 0;
    min-height: 145vh;
}

section {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    width: 40vw;
    min-height: 124vh;
    padding: 5vh 10vh;
    border-radius: 10px;
}
.name-fam-main{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.form-form{
    border: 2px solid #0099FF;
    border-radius: 3px;
    width: 19vw;
    height: 4.6vh;
    text-align: center;
}

.form-form:focus{
    border: 2px solid #D98F00;
}

.success {
    border: 2px solid #09c372;
}

.error {
    border: 2px solid rgb(240, 44, 0);
}

.NameNone, .NameUnCorrect, .PasswordNone, .PasswordUnCorrect, .FamiliaNone, .FamiliaUnCorrect, .EmailNone, .EmailUnCorrect, .Password2None, .Password2UnCorrect{
    display: none;
    color: rgb(240, 44, 0);
    font-size: 13px;
    position: absolute;
    margin-top: 0.5vh;
}

#spase:focus{
    border: 1px solid #D98F00;
}

textarea{
    border: 1px solid #0099FF;
    padding: 1vh;
    border-radius: 3px;
}
.main-zagol{
    font-size: 30px;
    margin: 3vh auto 0 auto;
}
.pod-zagol{
    margin-top: 7.6vh;
    display: block;
    font-size: 24px;
}

.text-form{
    display: block;
    margin: 7vh 0 1.2vh 0;
    font-weight: bold;
    font-size: 16px;
}
.zvezda-poyasn:before{
    color: #D98F00;
    content: "* ";
    font-family: Verdana;
    font-weight: bold;
}
.star_red:after{
    color: #D98F00;
    content: "*";
}

.text-form-rassilki{
    display: block;
    margin: 4vh 0 1.5vh 0;
    font-weight: bold;
    font-size: 16px;
}

.pereklp{
    display: inline;
    margin: 0 16px 0 8px;
    font-size: 16px;
}

.perekl, .check-box {accent-color: #77c9ff;}

.input-img{
    border: 1px solid #0099FF;
    border-radius: 3px;
    width: auto;
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #0099FF;
    padding: 10px 15px;
    border-radius: 3px;
    color: #fff;
}
  
input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

.strana{
    border-bottom: 2px solid #0099FF;
    font-size: 14px;
}


.otpravka {
    display: block;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.7);
    margin: 20px 0;
    padding: 10px 20px;
    border: 3px solid #F4B335;
    border-radius: 5px;
    color: #F4B335;
    font-weight: bold;
}

.otpravka:hover {
    border: 3px solid #D98F00;
    color: #D98F00;
}

.otpravka:active {
    background: #b87b00;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.7);
}

.header-box {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
}

.logo {
    width: 175px;
    height: auto;
    margin: 1.2em auto;
}

.nav-box {
    display: flex;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.nav-box li a {
    color: black;
    padding: 20px;
    text-decoration: none;
}

.nav-box li a:hover {
    color: #0099FF;
    text-decoration: underline;
}

.nav-box li a:visited {
    color: #9355da;
    text-decoration: none;
}

.login-box {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.login-box a {
    background: white url(img/avatar.png) left no-repeat;
    padding-left: 40px;
    padding-right: 10px;
    background-size: contain;
    text-decoration: none;
    color: #0099FF;
}

.login-box a:hover {
    color: #0099FF;
    text-decoration: underline;
}

.footer-diz {background: #eeeeee;}

.footer-box {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 14px;
    line-height: 30px;
}

.footer-nav li {padding: 4vh 1vh;}

.footer-nav a:hover {
    color: black;
    text-decoration: underline;
}

.footer-nav a {
    color: black; 
    text-decoration: none;
    font-size: 16px;
}

.bold {font-weight: bold;}

.icon-vk, .icon-yt, .icon-tg {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 20px 0 0 20px;
}

.icon-vk {background: url(img/vk.png) center no-repeat; background-size: contain;}
.icon-yt {background: url(img/youtube.png) center no-repeat; background-size: contain;}
.icon-tg {background: url(img/tg.png) center no-repeat; background-size: contain;}
.icon-vk:hover {background: url(img/vk-active.png) center no-repeat; background-size: contain;}
.icon-yt:hover {background: url(img/youtube-active.png) center no-repeat; background-size: contain;}
.icon-tg:hover {background: url(img/tg-active.png) center no-repeat; background-size: contain;}